* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1604px;
    width: 100%;
    border: solid 96px #1B0E0F;
    margin: 0 auto;
    margin-top: 226px;
}

.blog {
    padding-top: 96px;
    text-align: center;
    color: #002AFE;
    font-size: 16px;
    font-weight: 600;
}

.resource {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 24px;
    color: #181D27;
    font-size: 40px;
    font-weight: 600;
}

.latest {
    color: #535862;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.better {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 56px;
}

.better-second {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 96px;
}

.how {
    display: inline-block;
    max-width: 584px;
    width: 100%;
    vertical-align: top;
    margin-left: 90px;
    margin-top: 100px;
}

.natali {
    display: inline-block;
    vertical-align: middle;
}

.craig {
    vertical-align: middle;
}

.how h4 {
    color: #6941C6;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 8px;
}

.how h3 {
    color: #181D27;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 8px;
}

.colab {
    color: #535862;
    line-height: 24px;
    padding-bottom: 24px;
}

.feb {
    color: #181D27;
    font-size: 14px;
    font-weight: 600;
}

.jan {
    color: #535862;
    font-size: 14px;
    font-weight: 400;
}

.image img {
    padding-right: 8px;
}